@import "../global/global";

body {
	.wrapper {
		width: 100%;
		height: 100%;
		overflow: auto;
		padding: 1rem 1rem 3rem 1rem;

		@media #{$bp-sm} {
			padding: 2.5rem;
		}

		@media #{$bp-sm-md} {
			padding: 5rem 4rem 4rem 4rem;
		}

	    -webkit-transition: padding 1s ease 0s;
	    -moz-transition: padding 1s ease 0s;
	    -o-transition: padding 1s ease 0s;
	    transition: padding 1s ease 0s;
	}

	section {
		&.about {
			position: relative;
			z-index: $padds-index;
		    max-width: 48rem;
		    width: 100%;

	        padding: 2rem 1.5rem;
		    margin: 0 auto;

			background-color: white;

			-webkit-box-shadow:: 0 5px 10px #aaa;
			box-shadow: 0 5px 10px #aaa;

			// Works like display flex
			font-size: 0;

			.desktop-only {
			    display: none;

			    @media #{$bp-sm} {
			        display: block;
			    }
			}

			.mobile-only {
			    display: block;

			    @media #{$bp-sm} {
			        display: none;
			    }
			}

			> div {
				display: block;
				width: 100%;
				font-size: $base-font-size;
				vertical-align: top;

				@media #{$bp-sm} {
					display: inline-block;

					&.description { width: 60%; }
					&.profile { width: 40%; }
				}
			}

			.description {
			    @media #{$bp-sm} { padding-left: 1rem; }
			    
				h1 {
					color: $highlight-primary;
				    margin-bottom: .5rem;
				}

				h3 {
				    color: #bfbfbf;
				}

				p {
			    	font-size: .9rem;
				}
			}

			.profile {
				.picture {
					width: 100%;

					img {
					    width: 100%;
						max-width: 15em;
						border-radius: 50%;
						margin: 0 auto;
						display: block;

					    @media #{$bp-sm} {
					    	width: 70%;
					    }
					}
				}

				.soc-media {
					height: 3.5rem;
					margin-top: 1rem;
				    text-align: center;

					a {
    					font-size: 1.6rem;
    					margin: 0 .5rem;

    					&:hover {
							color: $highlight-primary;
    					}
					}

					i {
						vertical-align: middle;
					}
				}
			}

			.contact {
			    a {
					width: 13rem;
					text-align: left;
			    	display: block;
			    	margin: .5rem auto;
			    }

			    i {
				    font-size: 1.2rem;
					vertical-align: middle;
			    }

			    span {
				    font-size: .9rem;
					font-weight: bold;
			    }

			    a.location {
					cursor: default;
			    }

			    a.email:hover {
					color: $highlight-primary;
			    }
			}
		}
	}

	footer {
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    text-align: center;
	    padding-bottom: .5rem;

	    span {
    	    font-weight: bold;
		    font-size: .9rem;
		    color: #cccccc;
	    }
	}
}