@import "../global/global";

body {
    .wrapper {
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 1rem 1rem 3rem 1rem;

        -webkit-transition: padding 1s ease 0s;
        -moz-transition: padding 1s ease 0s;
        -o-transition: padding 1s ease 0s;
        transition: padding 1s ease 0s;

        @media #{$bp-sm} {
            padding: 2.5rem;
        }

        @media #{$bp-sm-md} {
            padding: 5rem 4rem 4rem 4rem;
        }
    }

    section {
        position: relative;
        z-index: $padds-index;
        max-width: 48rem;
        width: 100%;
        padding: 2rem 1.5rem;
        margin: 0 auto;
        background-color: white;
        // Works like display flex
        font-size: 0;

        -webkit-box-shadow: 0 2px 4px #aaa;
        box-shadow: 0 2px 4px #aaa;

        -webkit-transition: box-shadow .3s ease-out 0s;
        -moz-transition: box-shadow .3s ease-out 0s;
        -o-transition: box-shadow .3s ease-out 0s;
        transition: box-shadow .3s ease-out 0s;

        div.first {
            display: block;
            width: 100%;
            font-size: $base-font-size;
            vertical-align: top;

            @media #{$bp-sm} {
                display: inline-block;
                width: 40%;
            }
        }

        div.second {
            display: block;
            width: 100%;
            font-size: $base-font-size;
            vertical-align: top;

            @media #{$bp-sm} {
                display: inline-block;
                width: 60%;
            }
        }

        &.about {
            .desktop-only {
                display: none;

                @media #{$bp-sm} {
                    display: block;
                }
            }

            .mobile-only {
                display: block;

                @media #{$bp-sm} {
                    display: none;
                }
            }

            .description {

                h1 {
                    color: $highlight-primary;
                    margin-bottom: .5rem;
                }

                h3 {
                    color: $header-secondary;
                }

                p {
                    font-size: .9rem;
                }

                p:nth-child(6) {
                    display: inline;
                }

                span {
                    font-size: 1.5rem;
                }

                @media #{$bp-sm} {
                    padding-left: 1rem;
                }
            }

            .profile {
                .picture {
                    width: 100%;

                    img {
                        width: 100%;
                        max-width: 15em;
                        border-radius: 50%;
                        margin: 0 auto;
                        display: block;

                        @media #{$bp-sm} {
                            width: 70%;
                        }
                    }
                }

                .soc-media {
                    height: 3.5rem;
                    margin-top: 1rem;
                    text-align: center;

                    a {
                        font-size: 1.6rem;
                        margin: 0 .5rem;

                        &:hover {
                            color: $highlight-primary;
                        }
                    }

                    i {
                        vertical-align: middle;
                    }
                }
            }

            .contact {
                margin-top: 2rem;

                a {
                    width: 13rem;
                    text-align: left;
                    display: block;
                    margin: .5rem auto;
                }

                @media #{$bp-sm} {
                    margin-top: 0;
                }
            }
        }
    
        &.portfolio {
            margin-top: 2rem;

            h2 {
                color: $header-secondary;
                margin: 0 0 2em 0;

                @media #{$bp-sm} {
                    padding-left: 1rem;
                }
            }

            .second.description {

                h3 {
                    color: $highlight-primary;
                }

                i {
                    margin-right: .4em;
                }

                @media #{$bp-sm} {
                    padding-right: 1rem;
                }
            }

            .first {
                img {
                    width: 100%;
                }
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        padding-bottom: .5rem;

        span {
            font-weight: bold;
            font-size: .9rem;
            color: #cccccc;
        }
    }
}
