doctype html
//[if lt IE 7]      
	<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US">
//[endif]
//[if IE 7]      
	<html class="no-js lt-ie9 lt-ie8" lang="en-US">
//[endif]
//[if IE 8]      
	<html class="no-js lt-ie9" lang="en-US">
//[endif]
//[if gt IE 8]
html.no-js(lang="")
	//[endif]
	head
		title Andre WebDev
		include ../global/head.jade
		link(rel="stylesheet", href="/home/home.css")

	body
		.wrapper
			section.about(itemscope itemprop="person" itemtype="http://schema.org/Person" url="andrekuznetcov.com")
				.profile
					.picture
						img(src="/assets/profile.jpg" itemprop="image" alt="Shiny face of mine")
					.soc-media
						a(href="https://github.com/KatFishSnake" title="Github profile" target="_blank")
							i.pw-github
						a(href="https://www.behance.net/Relieh" title="Behance profile" target="_blank")
							i.pw-behance
						a(href="https://twitter.com/Imminent_case" title="Twitter profile" target="_blank")
							i.pw-twitter
						a(href="https://ca.linkedin.com/in/andrewebdev" title="LinkedIn profile" target="_blank")
							i.pw-linkedin

					.contact.desktop-only
						a.email(href="mailto:andre.kuzn@icloud.com?Subject=Hello%20")
							i.pw-paper-plane 
							span(itemprop="email") andre.kuzn@icloud.com
						a.location(href="javascript:void(0)")
							i.pw-compass2 
							span(itemprop="workLocation") Vancouver, BC

				.description
					h1(itemprop="name") Andre Kuznetcov
					h3(itemprop="jobTitle") Front-end Developer specializing in AngularJS and NodeJS
					p(itemprop="description") Hi, I'm a full-stack web developer currently living in welcoming Vancouver. 
					p I'm able to produce a website or a web-application from ideation, mockups realisation, full-on development, to an automated deployment to a cloud server and continuous monitoring and support. 
					p Additionally I provide support in SE registration and optimization, cloud infrastructure optimization and server security.

				.contact.mobile-only
					a.email(href="mailto:andre.kuzn@icloud.com?Subject=Hello%20")
						i.pw-paper-plane 
						span andre.kuzn@icloud.com
					a.location(href="javascript:void(0)")
						i.pw-compass2 
						span Vancouver, BC

			footer
				span.copy Copyright &copy; 2016

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-62962703-3', 'auto');
			ga('send', 'pageview');
